DATABASE_URL="mysql://turnos_user:turnos_password@localhost:3306/turnos_db"
JWT_SECRET="super-secret-turnos-key-2026"
COOKIE_SECRET="super-secret-cookie-key-2026"
PORT=3000
CLIENT_URL="http://localhost:4200"
NODE_ENV="development"
